:root{
    --frase-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #000000;
    --fonte-principal: 'inter';
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--frase-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal{
    background-image: url("img/pobreflix.png");
    background-repeat: no-repeat;
    background-position: 30em -5em;
    background-size: 900px;
}

.container{
    height:100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.container_botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--frase-principal);
    display: block;
    text-decoration: none;
    margin: 1em 0 1em 0;
    margin: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--frase-principal);
}

.container_aviso{
    font-size: 14px;
    color: var(--cinza-secundario);
    margin: 0 1em;
}

.container_titulo{
    font-size: 28px;
    font-weight: 700;
    margin: 1em;
}

.container_div{
    margin: 0 2em;
}